<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COURSE_MATERIALS_ID</key>
	<string>253331214289050</string>
	<key>CLASSMANAGER_API_BASE_URL</key>
	<string>https://classmanagerapp.gcemstrainingacademy.org</string>
	<key>DEPT_LOGO_ASSET_NAME</key>
	<string>gcems_logo</string>
	<key>Elective_Form_ID</key>
	<string>251613674678063</string>
	<key>FLEXIQUIZ_API_KEY</key>
	<string>$(FLEXIQUIZ_API_KEY)</string>
	<key>FLEXIQUIZ_MAP_RefresherA</key>
	<string>22305f3a-c3d4-4850-8a62-31a05003c03c</string>
	<key>FLEXIQUIZ_MAP_RefresherB</key>
	<string>7f2c59df-47f8-4cb3-8f40-08c4161dbb2a</string>
	<key>FLEXIQUIZ_MAP_RefresherC</key>
	<string>d1ceddf4-b3dc-4452-b7c4-78b523075aa1</string>
	<key>FLEXIQUIZ_SSO_AUD</key>
	<string>FlexiQuiz</string>
	<key>FLEXIQUIZ_SSO_EMAIL_DOMAIN</key>
	<string>gcems.edu</string>
	<key>FLEXIQUIZ_SSO_ISS</key>
	<string>GCEMS-App</string>
	<key>FLEXIQUIZ_SSO_SHARED_SECRET</key>
	<string>$(FLEXIQUIZ_SSO_SHARED_SECRET)</string>
	<key>FLEXI_REF_A_Q1_URL</key>
	<string>https://www.flexiquiz.com/SC/N/66564166-9de9-4b17-9c2d-6f76bc186970</string>
	<key>FLEXI_REF_A_Q2_URL</key>
	<string>https://www.flexiquiz.com/SC/N/78df99bd-d81a-4f24-a855-81ea0a3a71ec</string>
	<key>FLEXI_REF_A_Q3_URL</key>
	<string>https://www.flexiquiz.com/SC/N/772e07cf-d20b-4c8e-a6a5-d2917f5aa5c7</string>
	<key>FLEXI_REF_A_Q4_URL</key>
	<string>https://www.flexiquiz.com/SC/N/16ca7d9a-d3a4-4a24-85fe-ccb49def519d</string>
	<key>FLEXI_REF_B_Q1_URL</key>
	<string>https://www.flexiquiz.com/SC/N/3eff7d7c-74d4-44d8-bb4f-b8561c0c62b8</string>
	<key>FLEXI_REF_B_Q2_URL</key>
	<string>https://www.flexiquiz.com/SC/N/67ca0a1e-7c79-4ae7-aa55-418d10e9f3b5</string>
	<key>FLEXI_REF_B_Q3_URL</key>
	<string>https://www.flexiquiz.com/SC/N/e5fdb765-119b-4f5e-905b-c9b7d27ed2bb</string>
	<key>FLEXI_REF_B_Q4_URL</key>
	<string>https://www.flexiquiz.com/SC/N/757c48dc-6ab2-4aad-a262-30ed854157c9</string>
	<key>FLEXI_REF_C_Q1_URL</key>
	<string>https://www.flexiquiz.com/SC/N/ab8a5c9d-9e06-42c2-a866-e5759d8b2209</string>
	<key>FLEXI_REF_C_Q2_URL</key>
	<string>https://www.flexiquiz.com/SC/N/d76f4483-d8cc-4029-aea6-a2bebbb3d086</string>
	<key>FLEXI_REF_C_Q3_URL</key>
	<string>https://www.flexiquiz.com/SC/N/b7adaf94-a911-4dad-8152-a5853cb02e35</string>
	<key>FLEXI_REF_C_Q4_URL</key>
	<string>https://www.flexiquiz.com/SC/N/b938cd8b-913c-41bf-b247-1406b11115f2</string>
	<key>JOTFORM_API_KEY</key>
	<string>$(JOTFORM_API_KEY)</string>
	<key>JOTFORM_CHECKIN_FORM_ID</key>
	<string>243577669883075</string>
	<key>JOTFORM_CHECKOUT_FORM_ID</key>
	<string>243577669883075</string>
	<key>JOTFORM_COURSE_LOOKUP_FORM_ID</key>
	<string>251715517762056</string>
	<key>JOTFORM_REGISTRATION_FORM</key>
	<string>251265925097060</string>
	<key>PEPP_QUIZ_ID</key>
	<string>4d05909b-928f-4085-be74-8682e8fed516</string>
	<key>Refresher_CheckInOut_Form</key>
	<string>243577669883075</string>
	<key>SKILLS_A_VALIDATOR_FORM</key>
	<string>243465145190051</string>
	<key>SKILLS_B_VALIDATOR_FORM</key>
	<string>243475216825157</string>
	<key>SKILLS_C_VALIDATOR_FORM</key>
	<string>243556670341154</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
